html, body{
	width:100%;
	height: 100%;
}
body{
	padding:2%;
	padding-top: 0;
}
.green-box{
	background-color: #22B573;
	border:2px solid #006837;
	width: 100%;
	height: 100%;
	padding: 2%;
}
.main-title{
	text-align: center;
	font-size: 18px;
}
.blue-title{
	font-size: 18px;
	color:#fff;
}
.blue-box{
	width: 100%;
	height: 100%;
	background-color:#29ABE2; 
	border:2px solid #0071BC;
	padding: 2%;
	padding-top: 0;
}
.yellow-box{	
	width: 100%;
	height: 100%;
	background-color:#FCEE21; 
	border:2px solid #7AC943;
	width: 100%;
	height: 35%;
	margin-bottom: 3%;
	padding:2%;
}
.yellow-box2{
	width: 100%;
	height: 100%;
	background-color:#FCEE21; 
	border:2px solid #7AC943;
	width: 100%;
	height: 55%;
}
.yellow-text{
	text-align: center;
	font-size: 51px;
	color: #fff;
	text-transform: uppercase;
	/*line-height: 300px;*/
}
.white-box{
	background-color: #FFFFFF;
	border:2px solid #93278F;
	height: 100%;
	width: 20%;
	padding: 2%;
	margin-right:6%;
}
.white-box:nth-child(4){
	margin-right: 0;
}
.d-inline-block{
	display: inline-block;
}
.pink-box{
	background-color: #ED1E79;
	width: 100%;
	height: 100%;
}
.pink-box p{
    color:#fff;
    font-size: 14px;
    text-align: center;
}